@keyframes move-around {
    0%{
        transform: translateY(0%);
    }
    10%{
        transform: translateY(-150%);
    }
    20%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(0%);
    }
    60%{
        transform: translateY(-150%);
    }
    70%{
        transform: translateY(0%);
    }
}

.contact-button .paper-plane{
    transform: translateX(0px) translateY(0px);
    opacity: 100%;
    transition: all;
    transition-duration: 500ms;
}

.contact-button:hover .paper-plane{
    transform: translateX(50px) translateY(-50px);
    opacity: 0;
    transition: all;
    transition-duration: 500ms;
}

.contact-button:hover{
    transform: scale(110%);
    transition: all;
    transition-duration: 500ms;
}

.contact-button{
    transform: scale(100%);
    transition: all;
    transition-duration: 500ms;
}

.social-icon-start{
    opacity: 0;
    transform: translateX(-100%);
}

.social-icon{
    opacity: 100%;
    transform: translateX(0%);
}

.move-div{
    opacity: 100%;
    animation: move-around 5000ms infinite;
    transition: all;
    transition-duration: 5000ms;
}
