@keyframes moonAnim {
    0%{
       transform: rotate(0); 
    }
    50%{
        transform: rotate(25deg); 
    }
    100%{
        transform: rotate(0); 
    }
}

@keyframes sunAnim {
    0%{
        transform: scale(100%); 
     }
     50%{
         transform: scale(120%); 
     }
     100%{
         transform: scale(100%); 
     }
}

@keyframes mobile-menuAnim {
    from{
        opacity: 0%;
    }to{
        opacity: 100%;
    }
}

.navbar-link-active:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: all;
    transition-duration: 300ms;
}

.navbar-link{
    transform: scale(100%) translateX(-300%);
    color: red;
    transition: all;
    transition-duration: 500ms;
}

.navbar-link-top{
    transform: translateY(-80%);
    color: red;
    transition: all;
    transition-duration: 500ms;
}

.navbar-link-active{
    transform: scale(100%) translateY(0%);
    color: red;
    transition: all;
    transition-duration: 500ms;
}

.moon-icon{
    animation-name: moonAnim;
    animation-duration: 500ms;
    &:hover{
        animation: moonAnim 1s infinite;
    }
}

.sun-icon{
    animation: sunAnim;
    animation-duration: 500ms;
    &:hover{
        animation: sunAnim 1s infinite;
    }
}

.mobile-menu{
    animation: mobile-menuAnim 500ms;
}